<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.liga.batisMapper.OrderMapper">
    <select
            id="getOrderById" parameterType="java.lang.Long"
            resultMap="order">
        <!--выбираем resultMap, чтоб определить как мапить поля результата на сущность MyBatis-->
        select * from orders
        where (1=1)
        <if test="id != null">
            and id = #{id}
        </if>
    </select>

    <select
            id="getOrderItemById" parameterType="java.lang.Long"
            resultMap="orderItem">
        <!--выбираем resultMap, чтоб определить как мапить поля результата на сущность MyBatis-->
        select * from orders
        where (1=1)
        <if test="orderItems != null">
            and orderItems = #{orderItems}
        </if>
    </select>

    <select
            id="getOrderByStatus" parameterType="ru.liga.entity.enums.OrderStatus"
            resultMap="order">
        <!--выбираем resultMap, чтоб определить как мапить поля результата на сущность MyBatis-->
        select * from orders
        where (1=1)
        <if test="status != null">
            and status = #{status}
        </if>
    </select>

    <update id="updateOrderStatus" parameterType="ru.liga.entity.Order">
        update order
        <set>
            <if test="status != null">
                descr = #{status},
            </if>
        </set>
        where id = #{id}
    </update>

    <resultMap id="order" type="ru.liga.entity.Order">
        <id property="id" column="id"/>
        <result property="id" column="id"/>
    </resultMap>

    <resultMap id="orderItems" type="ru.liga.entity.OrderItem">
        <id property="id" column="id"/>
        <result property="orderItems" column="id"/>
    </resultMap>

    <resultMap id="order" type="ru.liga.entity.Order">
        <id property="id" column="id"/>
        <result property="status" column="status"/>
    </resultMap>

</mapper>