<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.liga.batisMapper.RestaurantMapper">

    <select
            id="getRestaurantById" parameterType="java.lang.Long"
            resultMap="restaurant">
        <!--выбираем resultMap, чтоб определить как мапить поля результата на сущность MyBatis-->
        select * from restaurants
        where (1=1)
        <if test="id != null">
            and id = #{id}
        </if>
    </select>

    <select
            id="getRestaurantByPhone" parameterType="java.lang.String"
            resultMap="restaurant">
        <!--выбираем resultMap, чтоб определить как мапить поля результата на сущность MyBatis-->
        select * from restaurants
        where (1=1)
        <if test="phone != null">
            and phone = #{phone}
        </if>
    </select>

    <select
            id="getNameRestaurantById" parameterType="java.lang.Long"
            resultMap="java.lang.String">
        <!--выбираем resultMap, чтоб определить как мапить поля результата на сущность MyBatis-->
        select * from restaurants
        where (1=1)
        <if test="name != null">
            and name = #{name}
        </if>
    </select>

    <update id="updateRestaurantPhone" parameterType="ru.liga.entity.Restaurant">
        update restaurants
        <set>
            <if test="phone != null">
                descr = #{phone},
            </if>
        </set>
        where id = #{id}
    </update>

    <resultMap id="restaurant" type="ru.liga.entity.Restaurant">
        <id property="id" column="id"/>
        <result property="id" column="id"/>
    </resultMap>

    <resultMap id="restaurant" type="ru.liga.entity.restaurant">
        <id property="id" column="id"/>
        <result property="phone" column="phone"/>
    </resultMap>

    <resultMap id="restaurant" type="ru.liga.entity.java.lang.String">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>

</mapper>